

  <%= image_tag(@store.image(:medium), class: "img-responsive") %>
  <%= image_tag(@store.image2(:medium), class: "img-responsive") %>
  <%= image_tag(@store.image3(:medium), class: "img-responsive") %>
  <%= image_tag(@store.image4(:medium), class: "img-responsive") %>

  <%= @store.caption%>

  <%= simple_form_for @store do |f| %>
  <%= f.input :image %>
  <%= f.input :image2 %>
  <%= f.input :image3 %>
  <%= f.input :image4 %>
  <%= f.input :zipcode %>
  <%= f.input :caption %>
  <%= f.input :long_description %>
  <%= f.button :submit %>
  <% end %>


  <button><%= link_to "Delete", store_path(@store), method: :delete, data: {confirm: "Are you sure you  want to delete this post?"}%></button>
