
<% @stores.each do |store| %>
  <h2><%= link_to image_tag(store.image.url(:medium), class: "img-responsive"), store_path(store) %></h2>
  <br>
  <h2> <%= store.caption %> </h2>
  <h2> <%= store.user.company_name %> </h2>
    <%= store.caption %>
    <% if store.comments %>
      <% store.comments.each do |comment| %>

      <!-- Comment Containter Start -->
        <div class="comment">
          <div class="user-name">
              <%= comment.user.company_name %>
          </div>
          <div class="comment-content">
            <%= comment.content %>
          </div>
              <% if comment.user == current_user %>
              <button><%= link_to "Delete This Comment",  store_comment_path(store, comment), method: :delete, data: { confirm: "Are you sure?" } %></button>
              <% end %>

              <!-- Like start -->
                <div class="comment-like-form row">
                    <div class="like-button col-sm-1">
                      <span class="glyphicon glyphicon-heart-empty"></span>
                    </div>
                </div>
              <!-- Like ends -->

      <% end %>

                <!-- Add form & submit start -->
                <div class="comment-form col-sm-11">
                  <%= form_for [store, store.comments.new] do |f| %>
                  <%= f.text_field :content, placeholder: 'Add'%>
                  <%= f.submit 'Add'%>
                </div>
                <!-- Add form & submit ends -->

        </div>
      <!-- Comment Containter Ends -->

                    <% end %>
    <% end %>
<% end %>
