<div class="slider">
    <ul class="frames">
        <li id="one" class="slide">
          <%= image_tag(@store.image(:medium), class: "img-responsive") %>
            <nav>
                <a class="prev" href="#four">&larr;</a>
                <a class="next" href="#two">&rarr;</a>
            </nav>
        </li>
        <li id="two" class="slide">
          <%= image_tag(@store.image2(:medium), class: "img-responsive") %>
            <nav>
                <a class="prev" href="#one">&larr;</a>
                <a class="next" href="#three">&rarr;</a>
            </nav>
        </li>
        <li id="three" class="slide">
          <%= image_tag(@store.image3(:medium), class: "img-responsive") %>
            <nav>
                <a class="prev" href="#two">&larr;</a>
                <a class="next" href="#four">&rarr;</a>
            </nav>
        </li>
        <li id="four" class="slide">
          <%= image_tag(@store.image4(:medium), class: "img-responsive") %>
            <nav>
                <a class="prev" href="#three">&larr;</a>
                <a class="next" href="#one">&rarr;</a>
            </nav>
        </li>
        <li class="quicknav">
            <ul>
                <li><a href="#one"></a></li>
                <li><a href="#two"></a></li>
                <li><a href="#three"></a></li>
                <li><a href="#four"></a></li>
            </ul>
        </li>
    </ul>
</div>

<br>
<br>
<br>
<br>
<br>
<h2 class="store_caption"> <%= @store.caption %> </h2>
<hr>

  <div>
    <div class= "contains_inners">
      <h5 class="details">Details</h5>
    </div>

    <br>
    <hr>
    <div class= "contains_inners">
      <div class="first_inner">Company Name:</div>
      <div class="long_descriptionn second_inner"><p> <%= @store.user.company_name %> </p></div>
    </div>


    <div class= "contains_inners">
      <div class="first_inner">Property Zipcode:</div>
      <div class="long_descriptionn second_inner"><%= @store.zipcode %> </p></div>
    </div>
  </div>
  <br>

<hr>


<div class= "second_details">
  <div class= "contains_inners">
  </div>

  <div class= "contains_inners">
    <div class="first_inner">Description: </div>
    <div class="long_descriptionn second_inner"><p> <div class="long_descriptionn"><p><%= @store.long_description %> </p> </div>
 </p></div>
  </div>


</div>
<br>

<hr>

<div class="edit_buttons">

  <% if @store.user.id == current_user.id %>

  <button><%= link_to 'Edit Your Store', edit_store_path(@store) %></button>


  <button><%= link_to "Delete", store_path(@store), method: :delete, data: {confirm: "Are you sure you  want to delete this store?"}%></button>

  <% end %>
</div>

<hr>
  <!-- Display Add Comment -->

    <div class="comment-form col-sm-11">
      <%= form_for [@store, @store.comments.new] do |f| %>
      <%= f.text_field :content, placeholder: 'Add'%>
      <%= f.submit 'Add'%>
    </div>
    <div>
        <% if @store.comments %>
          <% @store.comments.each do |comment| %>
        <!-- Display Actual Comment -->

         <div class="comment-content">
          <%= comment.content %>
          <% if comment.user == current_user %>
          <button><%= link_to "Delete This Comment",  store_comment_path(@store, comment), method: :delete, data: { confirm: "Are you sure?" } %></button>
          <% end %>
        </div>

    </div>
    <% end %>
    <% end %>

    <% end %>
